/* Время 32:38  */

.form {
    padding: 20px;
    margin: 20px;
}

.form-field {
    position: relative;
    margin-bottom: 20px;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    /* background-color: teal; */
    /* color: #fff; */

    transition: transform 250ms linear;
}

.form-input {
    margin: 0;
    padding: 10px 20px;
    font: inherit;
    border-radius: 3px;
    border: 1px solid #2a2a2a;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    transform: translateY(-50px);
    /* color: red; */
}

/* .form-input:placeholder-shown {
    background-color: red;
} */


/* ==== Добавим иконку ==== */
.icon {
    position: absolute;
    top: 50%;
    left: 5px;

    transform: translateY(-50%);

    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: tomato;
}

.form-input:focus ~ .icon {
    background-color: blue;
}